exp_dir: /mnt/data/liuhongyu/rg/results/mimic_cxr
dataset_dir: /mnt/data/liuhongyu/rg
ckpt_zoo_dir: /mnt/data/liuhongyu/rg/checkpoints
# venv_path: venv/bin/activate  # If using a SLURM cluster, uncomment this line.
trial: 9223
devices: 1
num_nodes: 1
num_workers: 8
strategy: auto

module: cvt2distilgpt2_mimic_cxr_chen
definition: CvT2DistilGPT2MIMICXRChen

# test_ckpt_path: checkpoints/mimic_cxr_jpg_chen/cvt_21_to_distilgpt2/epoch=8-val_chen_cider=0.425092.ckpt
test_ckpt_path: /mnt/data/liuhongyu/rg/results/mimic_cxr/mimic_cxr_cls0.5_consist0.1/train_mimic_cxr_chen_cvt2distilgpt2/trial_9223/epoch=16-step=206091-val_chen_cider=0.408788.ckpt
encoder_lr: 5e-5
decoder_lr: 5e-4
mbatch_size: 4  
every_n_epochs: 1

monitor: 'val_chen_cider'
monitor_mode: 'max'
precision: 16
decoder_max_len: 128
num_test_beams: 4

enable_progress_bar: True
weights_summary: 'full'

early_stopping: True
patience: 10
min_delta: 1e-4
deterministic: False

# CUDA_VISIBLE_DEVICES=3 dlhpcstarter -t mimic_cxr_cls0.5_consist0.1 -c config/test_mimic_cxr_chen_cvt2distilgpt2.yaml --stages_module stages --test