exp_dir: /data/lhy_data/Cvt2distillgpt2/results_iuxray
dataset_dir: /data/lhy_data/Cvt2distillgpt2
ckpt_zoo_dir: /data/lhy_data/Cvt2distillgpt2/checkpoints
# venv_path: venv/bin/activate  # If using a SLURM cluster, uncomment this line.
seed: 9223
devices: 1
num_nodes: 1
num_workers: 5
strategy: 'auto'

module: cvt2distilgpt2_iu_x_ray_chen
definition: CvT2DistilGPT2IUXRayChen

# test_ckpt_path: checkpoints/iu_x_ray_chen/cvt_21_to_distilgpt2/epoch=10-val_chen_cider=0.475024.ckpt
test_ckpt_path: /data/lhy_data/Cvt2distillgpt2/results_iuxray/iu_x_ray_chen/train_iu_x_ray_chen_cvt2distilgpt2/trial_0/epoch=11-step=2076-val_chen_cider=0.444897.ckpt

encoder_lr: 5e-5
decoder_lr: 5e-4
mbatch_size: 4  
every_n_epochs: 1

monitor: 'val_chen_cider'
monitor_mode: 'max'
precision: 16
decoder_max_len: 128
num_test_beams: 4

enable_progress_bar: True
weights_summary: 'full'

early_stopping: True
patience: 10
min_delta: 1e-4
deterministic: False

# CUDA_VISIBLE_DEVICES=5 dlhpcstarter -t iu_x_ray_chen -c config/test_iu_x_ray_chen_cvt2distilgpt2.yaml --stages_module stages --test